<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.EchoTrace"
        android:supportsRtl="true"
        android:allowBackup="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PairingActivity" android:exported="false" android:theme="@style/Theme.EchoTrace.Dialog" />
        <activity android:name=".CameraActivity" android:exported="false" android:theme="@style/Theme.EchoTrace.Translucent" android:excludeFromRecents="true" android:noHistory="true" />
        <activity android:name=".DisconnectedActivity" android:exported="false" android:theme="@style/Theme.EchoTrace.Dialog" />
        <activity android:name=".PhotoTapActivity" android:exported="false" android:theme="@style/Theme.EchoTrace.Translucent" android:excludeFromRecents="true" android:noHistory="true" />
        <receiver android:name=".TraceWidgetProvider" android:exported="false" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/trace_widget_info" />
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.echotrace.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
